Thumbs.db
.DS_Store
*.log
*.pyc
*.orig
*.iml
*.ipr
*.iws
CVS
bak
robots.txt
.htaccess
.htpasswd
/.idea

/cgi
/cgi-bin
/temp
/exec
data/*
!data/templates
data/templates/bak/
data/templates/print/
data/templates/text/
!data/processes
data/processes/bak/
data/_cache.cfg
/www/.reformator
/www/admin
/www/i

/.settings
.project
.buildpath
/.externalToolBuilders
/cache.properties
